code {
	display: block;
	background: #ddd;
	color: #222;
	padding: 0.5rem;
	border-radius: 0.25rem;
}

.placeholder {
	border: 1px solid black;
	padding: 0.5rem;
}

#main-page-grid {
	margin-top: 1rem;
}

#top-spacer {
	height: 4rem;
}
