section {
	padding: 1em 3em;
}

article {
	margin-bottom: 2rem;
}

.centered {
	text-align: center;
}

.left.float {
	float: left;
}

.santa-game {
	display: block;
	width: 800px;
	margin: 0 auto;
}

#masthead {
	background: url('/assets/img/sailboat-background.png');
	background-size: cover;
	height: 100%;
	max-height: 800px;
	text-align: center;
}

#masthead header {
	position: relative;
	top: 30%;
	width: 40rem;
	margin: 0 auto;
}

#about {
}

#skills {
	background: #1f1f1f;
	color: #ddd;
}

#skills header {
	color: #ddd;
}

#work {
	background: #e8e8e8;
}

#contact {
	background: #e8e8e8;
}

#contact form {
	margin: 0 auto;
	max-width: 800px;
}

#contact form input[type="submit"] {
	width: 100%;
	padding: 0;
	border-radius: 0 0 0.5em 0.5em;
}

form .last.field {
	margin-bottom: 0 !important;
}
